@import url(https://fonts.googleapis.com/css?family=Roboto:500);
/* Customs */
.text-info, .page-header h1{
  color: #4285f4;
}
.text-gray{
  color: #757575;
}
.thumbnail a>img, .thumbnail>img{
  max-height: 300px;
  margin-bottom: 10px;
}
.thumbnail {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.caption.bg.bg-info{
  background-color: #e3f2fd;
}
